.__indicator {
	border-radius: 10px;
	transform-origin: bottom;
	outline: 1px solid transparent;
	position: absolute;
	bottom: 50%;
}


.__cover__indicator {
	position: absolute;
	bottom: 49.5%;
	border-radius: 50%;
	width: 1.2%;
	height: 1.2%;
	background-color: lightgrey;
	z-index: 5;
}
.__indicator__hours {
	width: .5%;
	height: 13.5%;
	z-index: 4;
	background-color: #fff;
}
.__indicator__minutes {
	width: 0.3%;
	height: 14%;
	z-index: 3;
	background-color: #fff;
}
.__indicator__seconds {
	width: 0.2%;
	height: 15.5%;
	z-index: 2;
	background-color: #fff;
}
.__timer__content {
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	width: 250px;
	height: 250px;
	position: relative;
	top: 83px;
	box-shadow: 0px 0px 20px #3d3a3a;
	overflow: hidden;
	transform: rotate(90deg);
	&:after {
		content: '';
		position: absolute;
		height: 100%;
		width: 70%;
		background: black;
		left: -4px;
	}
	&:before {
		content: '';
		position: absolute;
		height: 100%;
		width: 70%;
		background: lightgrey;
		right: -4px;
	}
}
.__timer__clock {
	display: flex;
	justify-content: center;
	align-items: center;
}
